.container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px) 50px 50px ;
    gap:20px;
}

.box{
    background-color: rgb(137, 133, 145);
}

#box1{
    grid-row: span 5;
}

#box11,#box12 {
    grid-column: span 3;
}

#box6,#box7,#box9,#box10{
    background-color: brown;
}